body{
    font-family: 'Candal', sans-serif;}
ul li{
    list-style: none;
}
ul li a, h3 {
    text-decoration: none;
    font-size: 2em;
    color:  #F778A1;
}
.page-header  {
    font-size: 4em;
}

.page-header {
    color: #F778A1;
}

.books {
    background-color: #333;
}
h1,h5, p, a:hover, a:focus {
   color: #fff;
}

.mid {
    background-color: black;
}
.workout_brain {
    width: 200px;
    padding: 2%;
    display: inline-block;
    -webkit-animation: workout 1s infinite;
    -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes workout {
    0% {
        -webkit-transform: rotateY(0deg);
    }
    6% {
        -webkit-transform: rotateY(0deg);

    }
    10% {
        -webkit-transform: rotateY(0deg);

    }
    27% {
        -webkit-transform: rotateY(0deg);

    }
    28% {
        -webkit-transform: rotateY(150deg);

    }
    40% {
        -webkit-transform: rotateY(150deg);

    }
    70% {
        -webkit-transform: rotateY(150deg);
    }
    100% {
        -webkit-transform: rotateY(150deg);
    }
}

footer {
    margin: 50px 0;
}